body {
  margin: 0;
  overflow: hidden;
  background-color: #d1f7d8;
}

.chocolate-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.chocolate {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100px;
  background-image: url('chocolate1.png'); /* Replace with your image */
  background-size: cover;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

/* Full-screen canvas for fireworks */
#fireworksCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000vw;
  height: 1000vh;
  pointer-events: none; /* Make it so clicks go through the canvas */
}

/* Style for the Happy Birthday Message */
.birthday-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: #d830cab3;
  background-color:#d1f7d8;
  padding: 20px 40px;
  border-radius: 10px;
  z-index: 100; /* Keep it on top */
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

/* Animation for fading out the message */
.birthday-message.hidden {
  opacity: 0;
}
